<?xml version="1.0"?>
<launch>
	<!-- Parameters to pass to the ROS node -->
	<arg name="robot_name" 							default="iiwa"/>
	<arg name="manipulator_group_name" 	default="manipulator"/>
  <arg name="ee_group_name"           default="gripper"/>
	<arg name="object_detection_debug"	default="false"/>

	<group ns="$(arg robot_name)">
		<node name="Pipe_Line"
			pkg="flex_grasp"
			type="pipe_line.py"
			output="screen"/>

		<node name="Object_Detection"
			pkg="flex_grasp"
			type="object_detection.py"
			output="screen">
			<param name ="debug" value="$(arg object_detection_debug)"/>
		</node>

		<node name="Pose_Transform"
			pkg="flex_grasp"
			type="pose_transform.py"
			output="screen"/>

    <node name="Pick_Place"
			pkg="flex_grasp"
			type="pick_place.py"
			output="screen">
            <remap from="/attached_collision_object" to="/$(arg robot_name)/attached_collision_object"/>
            <remap from="/collision_object" to="/$(arg robot_name)/collision_object"/>
    </node>

		<!--
		<node pkg="flex_grasp" name="Move_Robot"  type="move_robot.py" output="screen">
                        <remap from="/attached_collision_object" to="/$(arg robot_name)/attached_collision_object"/>
                        <remap from="/collision_object" to="/$(arg robot_name)/collision_object"/>
		</node>
	-->

		<node pkg="flex_grasp" name="Visualize_Object"  type="visualize_object.py" output="screen">
			<remap from="/attached_collision_object" to="/$(arg robot_name)/attached_collision_object"/>
			<remap from="/collision_object" to="/$(arg robot_name)/collision_object"/>
		</node>

		<param name="planning_frame" value="/world"/>
		<param name="manipulator_group_name" value="$(arg manipulator_group_name)"/>
		<param name="ee_group_name" value="$(arg ee_group_name)"/>
	</group>
</launch>
