<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="tomato_gazebo" params="tomato_name">

  <!-- Link1 -->
    <gazebo reference="tomato${tomato_name}">
      <material>
        Gazebo/Red
      </material>
    </gazebo>
  </xacro:macro>
</robot>


<!--
<material>
  <script>
    <uri>file://models/tomato/materials/scripts/custom.material</uri>
    <name>Custom/Tomato</name>
  </script>
</material>

-->
