<?xml version="1.0"?>
<launch>

    <!-- ===================================================================================== -->
    <!-- |    Lauch file to start Gazebo with an IIWA using various controllers.	         | -->

    <!-- |    It allows to customize the name of the robot, for each robot                   | -->
    <!-- |	  its topics will be under a nameespace with the same name as the robot's.       | -->

    <!-- |	  One can choose to have a joint trajectory controller or                        | -->
    <!-- |    controllers for the single joints, using the "trajectory" argument.            | -->
    <!-- ===================================================================================== -->

    <arg name="hardware_interface" default="PositionJointInterface" />

    <arg name="ee" default="sdh"/>

    <arg name="robot_model" default="px150"/>
    <arg name="robot_name" default="$(arg robot_model)"/>
    <arg name="trajectory" default="true"/>

    <arg name="camera_sim" default="true"/>
    <arg name="robot_sim" default="true"/>
    <arg name="camera_name" default="rs_d435"/>

    <!-- Object params -->
    <arg name="object_x" default="-0.2"/>
    <arg name="object_y" default="0.4"/>
    <arg name="object_angle" default="1"/>
    <arg name="object_name" default="truss"/>
    <arg name="object_dimension" default="3d"/>

    <env name="GAZEBO_RESOURCE_PATH" value="$(find interbotix_gazebo)"/>

    <!-- Loads the Gazebo world. -->
    <include file="$(find flex_gazebo_interbotix)/launch/world.launch">
        <arg name="hardware_interface" value="$(arg hardware_interface)" />
        <arg name="robot_name" value="$(arg robot_name)" />
        <arg name="ee" value="$(arg ee)" />

        <arg name="robot_model" value="$(arg robot_model)" />

        <arg name="camera_sim" value="$(arg camera_sim)"/>
        <arg name="camera_name" value="$(arg camera_name)"/>

        <arg name="object_x" value="$(arg object_x)"/>
        <arg name="object_y" value="$(arg object_y)"/>
        <arg name="object_angle" value="$(arg object_angle)"/>
        <arg name="object_name" value="$(arg object_name)"/>
        <arg name="object_dimension" value="$(arg object_dimension)"/>
    </include>


  <group if="$(arg robot_sim)">

      <rosparam
        file="$(find interbotix_gazebo)/config/$(arg robot_model)_gazebo_controllers.yaml"
        command="load"
        ns="$(arg robot_name)"/>

      <node
        name="controller_spawner"
        pkg="controller_manager"
        type="spawner"
        respawn="false"
        output="screen"
        ns="$(arg robot_name)"
        args="arm_controller gripper_controller joint_state_controller"/>
      <node
        name="robot_state_publisher"
        pkg="robot_state_publisher"
        type="robot_state_publisher"
        ns="$(arg robot_name)">
      </node>

  </group>

</launch>
