<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find flex_gazebo)/urdf/truss/3d/tomato.gazebo.xacro" />

  <xacro:macro name="tomato" params="tomato_name radius parent_link *origin">
    <xacro:property name = "rho" value="1"/> <!-- [kg/m^3]-->
    <xacro:property name = "V" value="${4/3*pi*radius**3}"/> <!-- [m^3]-->
    <xacro:property name = "mass" value="${rho * V}"/> <!-- [kg]-->


    <joint name="tomato_joint${tomato_name}" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent_link}"/>
      <child link="tomato${tomato_name}" />
    </joint>

    <link name="tomato${tomato_name}">
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius = "${radius}" />
        </geometry>
      </collision>

      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <sphere radius = "${radius}" />
        </geometry>
        <material name="Red"/>
      </visual>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${mass}"/>
        <inertia
	         ixx="${2/5*mass*radius**2}" ixy="0.0" ixz="0.0"
           iyy="${2/5*mass*radius**2}" iyz="0.0"
           izz="${2/5*mass*radius**2}"/>
       </inertial>
     </link>

     <xacro:tomato_gazebo tomato_name="${tomato_name}"/>
  </xacro:macro>
</robot>
