<?xml version="1.0"?>
<robot name="$(arg robot_model)" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />

  <!--Import the lbr iiwa macro -->
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa7.xacro"/>


  <!-- Impoprt the aruco marker -->
  <xacro:include filename="$(find flex_gazebo)/urdf/marker/marker.xacro"/>

  <!-- import the camera -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <xacro:include filename="$(find flex_gazebo)/urdf/camera/camera.gazebo.xacro" />

  <!-- General parameters -->
  <xacro:arg name="use_sdh" default="false"/>

  <!-- iiwa params-->
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="iiwa"/>
  <xacro:arg name="robot_model" default="iiwa7"/>

  <!-- camera params-->
  <xacro:arg name="camera_name" default="rs_d435"/>
  <xacro:arg name="camera_sim" default="true"/>
  <xacro:arg name="camera_origin_xyz" default="0 0.5 1.2"/>
  <xacro:arg name="camera_origin_rpy" default="3.1415 1.57 -1.57"/>

  <xacro:arg name="depth_width"             default="1280"/>
  <xacro:arg name="depth_height"            default="720"/>
  <xacro:arg name="color_width"             default="1280"/>
  <xacro:arg name="color_height"            default="720"/>

  <xacro:arg name="iiwa_origin_xyz" default="0.0 0.0 0.0"/>
  <xacro:arg name="iiwa_origin_rpy" default="0.0 0.0 0.0"/>

    <!-- end-effector params-->
  <xacro:arg name="endeffector_name" default="sdh"/>
  <xacro:arg name="endeffector_origin_xyz" default="0 0 0"/>
  <xacro:arg name="endeffector_origin_rpy" default="0 0 0"/>
  <xacro:arg name="use_nominal_extrinsics" default="$(arg camera_sim)"/>

  <xacro:arg name="marker_origin_xyz" default="-0.02 0 0.036"/>
  <xacro:arg name="marker_origin_rpy" default="0 0 0"/>


  <!-- Fix to world -->
  <link name="world"/>

  <!--iiwa -->
  <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="world">
    <origin xyz="$(arg iiwa_origin_xyz)" rpy="$(arg iiwa_origin_rpy)" />
  </xacro:iiwa7>

  <!-- end-effector -->
  <xacro:if value="$(arg use_sdh)">

    <!-- import the end-effector -->
    <xacro:include filename="$(find schunk_description)/urdf/sdh/sdh.urdf.xacro" />

    <xacro:schunk_sdh parent="$(arg robot_name)_link_ee" name="$(arg endeffector_name)">
      <origin xyz="$(arg endeffector_origin_xyz)" rpy="$(arg endeffector_origin_rpy)" />
    </xacro:schunk_sdh>
  </xacro:if>


  <!-- Where to place the marker? -->
  <!--
  <xacro:marker parent_link="px150/ee_arm_link" size="0.04" ID ="26" >
    <origin xyz="$(arg marker_origin_xyz)" rpy="$(arg marker_origin_rpy)" />
  </xacro:marker>
  -->

  <!-- camera -->
  <xacro:sensor_d435 parent="world" name="$(arg camera_name)" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="$(arg camera_origin_xyz)" rpy="$(arg camera_origin_rpy)" />
  </xacro:sensor_d435>

  <xacro:if value="$(arg camera_sim)">
    <xacro:my_camera
      name="$(arg camera_name)"
      depth_width="$(arg depth_width)"
      depth_height="$(arg depth_height)"
      color_width="$(arg color_width)"
      color_height="$(arg color_height)"
    />
  </xacro:if>

</robot>
