<?xml version="1.0"?>
<robot name="iiwa7" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Import Rviz colors -->
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />

  <!--Import the lbr iiwa macro -->
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa7.xacro"/>
  <!-- import the tomato -->
  <xacro:include filename="$(find flex_gazebo)/urdf/tomato.xacro" />

  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="iiwa"/>
  <xacro:arg name="origin_xyz" default="0 0 0"/>
  <xacro:arg name="origin_rpy" default="0 0 0"/>


  <xacro:arg name="tomato_origin_xyz" default="-0.2 0.4 0.26"/>
  <xacro:arg name="tomato_origin_rpy" default="0 0 0.3"/>


  <!-- Fix to world just for testing -->
  <link name="world"/>

  <!--iiwa -->
  <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="world">
    <origin xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)" />
  </xacro:iiwa7>

  <xacro:tomato_2d>
    <origin xyz="$(arg tomato_origin_xyz)" rpy="$(arg tomato_origin_rpy)" />
  </xacro:tomato_2d>
</robot>

<!-- This does not belong here! -->
<!--
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">

</robot>
 -->
