<?xml version="1.0"?>
<robot name="iiwa7" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- Import Rviz colors -->
  <xacro:include filename="$(find iiwa_description)/urdf/materials.xacro" />

  <!--Import the lbr iiwa macro -->
  <xacro:include filename="$(find iiwa_description)/urdf/iiwa7.xacro"/>

  <!-- import the camera -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <xacro:include filename="$(find flex_gazebo)/urdf/camera/camera.gazebo.xacro" />

  <!-- import the end-effector -->
  <xacro:include filename="$(find schunk_description)/urdf/sdh/sdh.urdf.xacro" />
  <!-- iiwa params-->
  <xacro:arg name="hardware_interface" default="PositionJointInterface"/>
  <xacro:arg name="robot_name" default="iiwa"/>
  <xacro:arg name="origin_xyz" default="0 0 0"/>
  <xacro:arg name="origin_rpy" default="0 0 0"/>

  <!-- camera params-->
  <xacro:arg name="camera_name" default="camera"/>
  <xacro:arg name="camera_origin_xyz" default="0 0.6 1.2"/>
  <xacro:arg name="camera_origin_rpy" default="3.1415 1.57 -1.57"/>
  <xacro:arg name="use_nominal_extrinsics" default="true"/>

    <!-- end-effector params-->
  <xacro:arg name="endeffector_name" default="sdh"/>
  <xacro:arg name="endeffector_origin_xyz" default="0 0 0"/>
  <xacro:arg name="endeffector_origin_rpy" default="0 0 0"/>

  <!-- Fix to world just for testing -->
  <link name="world"/>

  <!--iiwa -->
  <xacro:iiwa7 hardware_interface="$(arg hardware_interface)" robot_name="$(arg robot_name)" parent="world">
    <origin xyz="$(arg origin_xyz)" rpy="$(arg origin_rpy)" />
  </xacro:iiwa7>

  <!-- camera -->
  <xacro:sensor_d435 parent="world" name="$(arg camera_name)" use_nominal_extrinsics="$(arg use_nominal_extrinsics)">
    <origin xyz="$(arg camera_origin_xyz)" rpy="$(arg camera_origin_rpy)" />
  </xacro:sensor_d435>
  
  <xacro:my_camera name="$(arg camera_name)"/>

  <!-- end-effector -->
  <xacro:schunk_sdh parent="iiwa_link_ee" name="$(arg endeffector_name)">
      <origin xyz="$(arg endeffector_origin_xyz)" rpy="$(arg endeffector_origin_rpy)" />
  </xacro:schunk_sdh>

</robot>

<!-- This does not belong here! -->
<!--
<robot name="realsense2_camera" xmlns:xacro="http://ros.org/wiki/xacro">

</robot>
 -->
