<?xml version="1.0"?>
<launch> 

	<include file="$(find iiwa_moveit)/launch/moveit_planning_execution.launch">
		<arg name="sim" default="true" doc="If true, the robot will be simulated in Gazebo"/>
	</include>


	<include file="$(find timed_roslaunch)/launch/timed_roslaunch.launch">
		<arg name="time" value="1" />
		<arg name="pkg" value="iiwa_grasp" />
		<arg name="file" value="sub.launch" />
	</include>

	
</launch>
