<?xml version="1.0"?>
<launch>

	<!-- Parameters to pass to the ROS node -->
	<arg name="move_group" default="manipulator"/>
  
	<!--  This loads the robot description  -->
	<include file="$(find iiwa_moveit)/launch/moveit_planning_execution.launch">
		<arg name="sim" default="true" doc="If true, the robot will be simulated in Gazebo"/>
	</include>
    


	<group ns="iiwa">
  		<node pkg="iiwa_grasp" name="pose"  type="pose_transform.py" output="screen"/>
		<node pkg="iiwa_grasp" name="move"  type="move_robot.py" output="screen"/>
		<param name="planning_frame" value="/world"/>
		<param name="move_group" value="$(arg move_group)"/>
	</group>
  
</launch>
