<?xml version="1.0"?>
<launch>
	<!-- Parameters to pass to the ROS node     -->
	<arg name="robot_name" default="iiwa"/>  
	<arg name="model" default="iiwa7"/>	
	
	<arg name="hardware_interface" default="PositionJointInterface"/>
	<arg name="rviz" default="true"/>

	<remap from="/$(arg robot_name)/collision_object" to="/collision_object" />
	<remap from="/$(arg robot_name)/get_planning_scene" to="/get_planning_scene" />


	<group ns="$(arg robot_name)"> 
		<include file="$(find iiwa_moveit)/launch/move_group.launch">
			<arg name="publish_monitored_planning_scene" value="true" />
            		<arg name="hardware_interface" value="$(arg hardware_interface)"/>
            		<arg name="robot_name" value="$(arg robot_name)"/>
            		<arg name="model" value="$(arg model)" />
		</include>

		<include if="$(arg rviz)" file="$(find iiwa_moveit)/launch/moveit_rviz.launch">
			<arg name="config" value="true"/>
		</include>
	</group>
  
</launch>
