<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="peduncle_gazebo">

  <!-- Link1 -->
    <gazebo reference="peduncle">
      <material>
        Gazebo/Green
      </material>
    </gazebo>
  </xacro:macro>
</robot>


<!--
<material>
  <script>
    <uri>file://models/tomato/materials/scripts/custom.material</uri>
    <name>Custom/Tomato</name>
  </script>
</material>

-->
