<?xml version="1.0"?>
<launch>

   <!-- This lauch file just loads the URDF with the given hardware interface and robot name into the ROS Parameter Server -->
  <arg name="robot_model" default="iiwa7"/>
  <arg name="robot_name" default="iiwa"/>
  <arg name="hardware_interface" default="PositionJointInterface"/>
  <arg name="robot_origin_xyz" default="'0 0 0'"/> <!-- Note the syntax to pass a vector -->
  <arg name="robot_origin_rpy" default="'0 0 0'"/>

  <!-- camera -->
  <arg name="camera_name" default="camera"/>
  <arg name="camera_origin_xyz" default="'0 0.6 1.2'"/>
  <arg name="camera_origin_rpy" default="'3.1415 1.57 -1.57'"/>


  <arg name="use_sdh" default="false"/>
  <arg name="use_iiwa" default="false"/>
  <arg name="use_interbotix" default="false"/>
  <arg name="camera_sim" default="false"/>

  <!-- world -->
  <!-- <param name="param_angle" command="$(find flex_gazebo)/scripts/generate_random_angle.py"/> -->
  <arg name="object_origin_xyz" default="'0 0.4 0.26'"/>
  <arg name="object_origin_rpy" default="'0 0 0'"/>
  <arg name="object_name" default="truss"/>
  <arg name="object_dimension" default="3d"/>


  <!-- interbotix -->
  <arg name="use_world_frame"               default="true"/>
  <arg name="use_default_gripper_bar"       default="true"/>
  <arg name="use_default_gripper_fingers"   default="true"/>
  <arg name="external_urdf_loc"             default=""/>
  <arg name="load_gazebo_configs"           default="false"/>

  <!-- robot -->
  <param name="$(arg robot_name)/robot_description" command="$(find xacro)/xacro --inorder '$(find flex_gazebo)/urdf/robot.urdf.xacro'
    hardware_interface:=$(arg hardware_interface)
    robot_model:=$(arg robot_model)
    robot_name:=$(arg robot_name)
    camera_name:=$(arg camera_name)
    camera_sim:=$(arg camera_sim)
    use_sdh:=$(arg use_sdh)
    use_iiwa:=$(arg use_iiwa)
    use_interbotix:=$(arg use_interbotix)
    "/>



  <!-- world -->
  <param name="$(arg robot_name)/world_description" command="$(find xacro)/xacro --inorder '$(find flex_gazebo)/urdf/world.urdf.xacro'
    object_name:=$(arg object_name)
    object_dimension:=$(arg object_dimension)
    object_origin_xyz:=$(arg object_origin_xyz)
    object_origin_rpy:=$(arg object_origin_rpy)
    "/>


</launch>
